#main-header {
    height: 20px;
    width: 100%;
    background: #003761;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

{

}

#main-header button  {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    background: #2578AC;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

#main-header a:hover {
    opacity: 0.7;
}
